[Unit]
Description=Auto Mount NFS Shares
After=network.target
Requires=NetworkManager-dispatcher.service

[Service]
Type=simple
ExecStart=/usr/bin/automountnfs
ExecStop=/usr/bin/automountnfs

[Install]
WantedBy=multi-user.target
