[Unit]
Description=Service for AutoMountNFS check timer
After=network.target
Requires=NetworkManager-dispatcher.service network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/automountnfs check
