[Unit]
Description=Auto Mount NFS Shares
After=network.target
Requires=NetworkManager-dispatcher.service network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/automountnfs check
ExecStop=/usr/bin/automountnfs unmount

[Install]
WantedBy=multi-user.target
Also=automountnfs-check.timer
